/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}
.sidebar {
  height: 100%;
  width: 5%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #330066;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-right: 3px solid #ff0033;
}
@media (max-width: 1550px) {
  .sidebar {
    width: 8%;
  }
}
@media (max-width: 800px) {
  .sidebar {
    width: 100%;
    height: 10vh;
    right: 0;
    flex-direction: row;
    border-right: none;
    border-bottom: 3px solid #ff0033;
    padding-right: 5%;
    padding-left: 3%;
  }
}
.sidebar .logo {
  padding: 20% 10%;
}
@media (max-width: 800px) {
  .sidebar .logo {
    width: 20%;
    padding: 0;
  }
}
.sidebar #hamburger {
  transform: scale(1.75, 1);
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2.5rem;
}
.sidebar #hamburger:hover {
  color: #ff0033;
}
.sidebar #hamburger:focus {
  outline: none;
}
@media (max-width: 800px) {
  .sidebar #hamburger {
    width: 20%;
    font-size: 3rem;
  }
}
.sidebar .links {
  padding: 20% 10%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-height: 450px) {
  .sidebar .links {
    padding-top: 0;
    padding-bottom: 20%;
    min-height: 120px;
  }
}
@media (max-width: 800px) {
  .sidebar .links {
    display: none;
  }
}
.sidebar .links button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2.5rem;
}
.sidebar .links button a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.sidebar .links button a:hover {
  color: #ff0033;
}
.sidebar .links a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}
.sidebar .links a:hover {
  color: #ff0033;
}
.expanded-sidebar {
  height: 100%;
  width: 0;
  background-color: rgba(51, 0, 102, 0.9);
  position: fixed;
  left: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 0.5s;
  overflow-x: hidden;
}
@media (max-width: 800px) {
  .expanded-sidebar {
    height: 0;
    left: auto;
    right: 0;
    top: 10vh;
    overflow-y: hidden;
  }
}
.expanded-sidebar a {
  text-decoration: none;
  color: white;
  font-size: 4rem;
  margin: 5% 4vw;
  min-width: 190px;
}
.expanded-sidebar a:hover {
  color: #ff0033;
}
@media (max-width: 800px) {
  .expanded-sidebar a {
    font-size: 2.5rem;
  }
}
footer {
  margin-left: 5%;
  background-color: #330066;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}
@media (max-width: 800px) {
  footer {
    margin-left: 0;
  }
}
footer p {
  width: 20%;
}
footer .logo {
  width: 15%;
}
footer .footer-links {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}
footer .footer-links button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2.5rem;
  margin: 0 4%;
}
footer .footer-links button a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
footer .footer-links button a:hover {
  color: #ff0033;
}
header {
  margin-left: 5%;
  height: 100vh;
  background-color: #330066;
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  min-height: 450px;
}
@media (max-width: 800px) {
  header {
    margin-left: 0;
    width: 100%;
  }
}
header .gallery {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}
header .gallery #pic1 {
  width: 32%;
  height: 24%;
  background-image: url("D:/Lambda/Front-End/img/surfer-walking-on-beach.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200%;
}
@media (max-width: 800px) {
  header .gallery #pic1 {
    display: none;
  }
}
header .gallery #pic2 {
  width: 33%;
  height: 24%;
  margin: 0 1.5%;
  background-image: url("D:/Lambda/Front-End/img/man-holding-up-bolder.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 800px) {
  header .gallery #pic2 {
    display: none;
  }
}
header .gallery #pic3 {
  width: 32%;
  height: 24%;
  background-image: url("D:/Lambda/Front-End/img/asian-mother.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 1550px) {
  header .gallery #pic3 {
    background-size: 115%;
  }
}
@media (max-width: 800px) {
  header .gallery #pic3 {
    display: none;
  }
}
header .gallery #pic4 {
  width: 32%;
  height: 33%;
  background-image: url("D:/Lambda/Front-End/img/lookig-up-at-the-roof-of-the-forest.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  resize: both;
}
@media (max-width: 800px) {
  header .gallery #pic4 {
    display: none;
  }
}
header .gallery #pic5 {
  width: 33%;
  height: 33%;
  margin: 0 1.5%;
  background-image: url("D:/Lambda/Front-End/img/bus-and-kayaks-on-beach.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 800px) {
  header .gallery #pic5 {
    display: none;
  }
}
header .gallery #pic6 {
  width: 32%;
  height: 33%;
  background-image: url("D:/Lambda/Front-End/img/africa-face-paint.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 1550px) {
  header .gallery #pic6 {
    background-size: 160%;
  }
}
@media (max-width: 800px) {
  header .gallery #pic6 {
    display: none;
  }
}
header .gallery #pic7 {
  width: 40%;
  height: 29%;
  background-image: url("D:/Lambda/Front-End/img/bw-man-smoking.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 1550px) {
  header .gallery #pic7 {
    background-size: 115%;
  }
}
@media (max-width: 800px) {
  header .gallery #pic7 {
    display: none;
  }
}
header .gallery #pic8 {
  width: 58.5%;
  height: 29%;
  background-image: url("D:/Lambda/Front-End/img/blond-woman-on-bridge.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 800px) {
  header .gallery #pic8 {
    display: none;
  }
}
header .gallery #pic9 {
  width: 32%;
  height: 9%;
  background-image: url("D:/Lambda/Front-End/img/looking-up-skyscraper.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300%;
}
@media (max-width: 800px) {
  header .gallery #pic9 {
    display: none;
  }
}
header .gallery #pic10 {
  width: 33%;
  height: 9%;
  margin: 0 1.5%;
  background-image: url("D:/Lambda/Front-End/img/big-smile-in-paris.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 800px) {
  header .gallery #pic10 {
    display: none;
  }
}
header .gallery #pic11 {
  width: 32%;
  height: 9%;
  background-image: url("D:/Lambda/Front-End/img/net-architecture.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 800px) {
  header .gallery #pic11 {
    display: none;
  }
}
header .gallery #mobile-pic {
  display: none;
}
@media (max-width: 800px) {
  header .gallery #mobile-pic {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("D:/Lambda/Front-End/img/camera-in-front-of-smoke.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}
@media (max-width: 500px) {
  header .gallery #mobile-pic {
    background-size: cover;
  }
}
header .banner {
  margin-top: -100vh;
  width: 100%;
  padding-left: 5%;
  background-color: rgba(102, 51, 204, 0.8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 450px;
}
@media (max-height: 450px) {
  header .banner {
    margin-top: -450px;
  }
}
header .banner img {
  width: 60%;
}
header .banner h2 {
  font-size: 4rem;
  color: white;
  margin: 2% 0;
}
@media (max-width: 500px) {
  header .banner h2 {
    font-size: 2.5rem;
    margin: 5% 0;
  }
}
header .banner h2 span {
  color: #ff0033;
}
header .banner .button {
  font-size: 2.5rem;
  background-color: #ff0033;
  border: 3px solid #ff0033;
  color: white;
  width: 15%;
  padding: 2%;
  text-align: center;
  border-radius: 10px;
  margin-top: 2%;
  cursor: pointer;
}
header .banner .button:hover {
  background-color: #330066;
}
@media (max-width: 800px) {
  header .banner .button {
    width: 25%;
  }
}
@media (max-width: 500px) {
  header .banner .button {
    font-size: 1.8rem;
  }
}
.features {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  height: 60vh;
}
@media (max-width: 800px) {
  .features {
    margin-left: 0;
    flex-wrap: wrap;
    height: auto;
  }
}
.features .card {
  width: 33.33%;
  text-align: center;
  color: white;
  padding: 5%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 350px;
}
@media (max-width: 800px) {
  .features .card {
    width: 100%;
    height: 40vh;
  }
}
.features .card:nth-child(1) {
  background-color: #330066;
}
.features .card:nth-child(2) {
  background-color: #6633cc;
}
.features .card:nth-child(3) {
  background-color: #ff0033;
}
.features .card h3 {
  font-size: 4rem;
}
.features .card h4 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.features .card p {
  font-size: 1.8rem;
  line-height: 1.5;
}
.about {
  display: flex;
  justify-content: center;
  height: 60vh;
  min-height: 600px;
}
@media (max-width: 800px) {
  .about {
    height: auto;
    flex-wrap: wrap-reverse;
    padding: 5%;
  }
}
.about div {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 800px) {
  .about div {
    width: 100%;
  }
}
.about div h4 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.about div h2 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2% 0;
}
.about div p {
  font-size: 1.8rem;
  margin: 2% 0;
  line-height: 2;
}
.about div .button {
  font-size: 2.5rem;
  background-color: #ff0033;
  border: 3px solid #ff0033;
  color: white;
  width: 30%;
  padding: 2%;
  text-align: center;
  border-radius: 10px;
  margin-top: 2%;
  cursor: pointer;
}
.about div .button:hover {
  background-color: #330066;
}
@media (max-width: 500px) {
  .about div .button {
    font-size: 1.8rem;
  }
}
.about div {
  width: 40%;
}
@media (max-width: 800px) {
  .about div {
    width: 100%;
    margin-bottom: 5%;
  }
}
.about-us-header {
  height: 40vh;
  background-image: url("D:/Lambda/Front-End/img/team-working.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-height: 150px;
}
.about-us-header .about-us-banner {
  width: 100%;
  background-color: rgba(102, 51, 204, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.about-us-header .about-us-banner h1 {
  font-size: 8rem;
  color: white;
  text-transform: uppercase;
  margin-bottom: 5%;
  letter-spacing: 1rem;
}
.team {
  margin-left: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 5%;
}
.team h2 {
  width: 100%;
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1rem;
  margin: 5% 0;
}
.team .team-card {
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 2% 2%;
}
.team .team-card .team-member-pic {
  width: 100%;
  height: 400px;
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.team .team-card .team-member-info {
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  align-items: center;
  background: white;
  margin-top: -50px;
  border: 1px solid #330066;
  border-radius: 5px;
}
.team .team-card .team-member-info h3 {
  text-transform: uppercase;
  font-size: 1.8rem;
}
.team .team-card .team-member-info h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #ff0033;
  text-align: center;
  margin: 1rem;
  line-height: 1.25;
}
.team .team-card .team-member-info p {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 1rem;
}
.team .team-card .team-member-info p a {
  text-decoration: none;
  color: #330066;
  font-size: 2.5rem;
}
.team .team-card .team-member-info p a:hover {
  color: #ff0033;
}
.team .team-member-1 .team-member-pic {
  background-image: url("D:/Lambda/Front-End/img/vince.jpg");
  background-position: 58% 50%;
  background-size: 250%;
}
.team .team-member-2 .team-member-pic {
  background-image: url("D:/Lambda/Front-End/img/samuel.jpg");
  background-position: center;
  background-size: 150%;
}
.team .team-member-3 .team-member-pic {
  background-image: url("D:/Lambda/Front-End/img/cody.jpg");
  background-position: 58% 50%;
  background-size: 250%;
}
.team .team-member-4 .team-member-pic {
  background-image: url("D:/Lambda/Front-End/img/ryan.jpg");
  background-position: 45% 50%;
  background-size: 150%;
}
.team .team-member-5 .team-member-pic {
  background-image: url("D:/Lambda/Front-End/img/oscar.jpg");
  background-position: center;
  background-size: 145%;
}
