@pic1: url("D:/Lambda/Front-End/img/surfer-walking-on-beach.jpg");
@pic2: url("D:/Lambda/Front-End/img/man-holding-up-bolder.jpg");
@pic3: url("D:/Lambda/Front-End/img/asian-mother.jpg");
@pic4: url("D:/Lambda/Front-End/img/lookig-up-at-the-roof-of-the-forest.jpg");
@pic5: url("D:/Lambda/Front-End/img/bus-and-kayaks-on-beach.jpg");
@pic6: url("D:/Lambda/Front-End/img/africa-face-paint.jpg");
@pic7: url("D:/Lambda/Front-End/img/bw-man-smoking.jpg");
@pic8: url("D:/Lambda/Front-End/img/blond-woman-on-bridge.jpg");
@pic9: url("D:/Lambda/Front-End/img/looking-up-skyscraper.jpg");
@pic10: url("D:/Lambda/Front-End/img/big-smile-in-paris.jpg");
@pic11: url("D:/Lambda/Front-End/img/net-architecture.jpg");
@mobile-banner-pic: url("D:/Lambda/Front-End/img/camera-in-front-of-smoke.jpg");
@aboutus-banner-pic: url("D:/Lambda/Front-End/img/team-working.jpg");
@vince: url("D:/Lambda/Front-End/img/vince.jpg");
@sam: url("D:/Lambda/Front-End/img/samuel.jpg");
@cody: url("D:/Lambda/Front-End/img/cody.jpg");
@ryan: url("D:/Lambda/Front-End/img/ryan.jpg");
@oscar: url("D:/Lambda/Front-End/img/oscar.jpg");

@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";
@small-monitor: ~"(max-width: 1550px)";
@short: ~"(max-height: 450px)";

@dark-bg-color: #330066;
@light-bg-color: #6633cc;
@dark-bg-opacity: rgba(51, 0, 102, 0.9);
@light-bg-opacity: rgba(102, 51, 204, 0.8);
@highlight-color: #ff0033;